<table class="table table-striped"> 
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Classificação Indicativa</th>
      <th>Data Lançamento</th>
      <th>Tipo</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="Streamings && Streamings.length" class="cor-branca">
    <tr *ngFor="let item of Streamings">
      <td>{{item.id}}</td>
      <td>{{item.titulo}}</td>
      <td>{{item.classificacaoIndicativa}}</td>
      <td>{{item.dataLancamento}}</td>
      <td>{{item.tipoStreaming.tipo}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-sm btn-warning" 
          tooltip="Editar">
          <!-- (click)="editarEvento(evento, template)" -->
          <i class="fa fa-edit"></i>
        </button>
      </div>
    </td>
  </tr>
</tbody>
</table>